<div class="flex w-full h-full justify-center items-center">
  <div class="card w-[50%] h-[80%] bg-base-200 card-xl shadow-sm">
    <div class="flex justify-between items-center p-5">
      <h1 class="card-title">Settings</h1>
    </div>
    <div class="h-full">
      <div class="card-body overflow-auto pt-2 h-full">
        <div class="card bg-base-100 card-xs shadow-sm p-10 h-full">
          <div class="card-body flex flex-col justify-between">
            <div class="flex flex-col gap-2">
              <p class="flex w-full text-2xl px-1">Thèmes</p>
              <div class="dropdown">
                <div tabindex="0" class="btn m-1">
                  {{ theme() }}
                </div>
                <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box w-52 p-2 shadow-2xl">
                  @for (t of themes; track t) {
                    <li>
                      <label class="btn btn-sm btn-block btn-ghost justify-start">
                        <input
                          type="radio"
                          name="theme-dropdown"
                          [value]="t"
                          [checked]="theme() === t"
                          (change)="setTheme(t)"
                        />
                        {{ t }}
                      </label>
                    </li>
                  }
                </ul>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <p class="flex w-full mt-5 text-2xl">Déconnexion</p>
              <button class="btn bg-error-content" (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
