<div class="h-full flex flex-col gap-8 justify-center items-center">
  <form class="h-full w-custom-input-form flex flex-col gap-4 justify-center" [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="my-5 text-2xl font-bold">Register</h2>
      <app-custom-form-input [placeholder]="'mail@exemple.com'"
                             [icon]="'/icons/mail_icon.svg'"
                             [type]="'email'"
                             [inputForm]="getFormFromName('username')"
                             [hasError]="(registerForm.get('username')?.errors?.['required']
                                   || registerForm.get('username')?.errors?.['pattern']) && registerForm.get('username')?.touched"
                             [errorMessage]="'L\'adresse E-mail est invalide'"></app-custom-form-input>

      <app-custom-form-input [placeholder]="'Password'"
                             [icon]="'/icons/password_icon.svg'"
                             [type]="'password'"
                             [inputForm]="getFormFromName('password')"
                             [hasError]="(registerForm.get('password')?.errors?.['required']
                                   || registerForm.get('password')?.errors?.['pattern']) && registerForm.get('password')?.touched"
                             [errorMessage]="'Doit contenir au moins une lettre majuscule et une lettre minuscule, et doit être composé de 8 à 20 caractères et aucun espace.'"></app-custom-form-input>

      <app-custom-form-input [placeholder]="'Confirm password'"
                             [icon]="'/icons/password_icon.svg'"
                             [type]="'password'"
                             [inputForm]="getFormFromName('passwordConfirmation')"
                             [hasError]="(registerForm.get('passwordConfirmation')?.errors?.['required']
                                   || registerForm.get('passwordConfirmation')?.errors?.['matching'])
                                   && registerForm.get('passwordConfirmation')?.touched"
                             [errorMessage]="'Les mots de passe ne correspondent pas.'">
      </app-custom-form-input>
      <div class="flex justify-end">
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || loadingState()">
          @if (loadingState()) {
            <span class="loading loading-spinner loading-xs"></span>
          }
          Register
        </button>
      </div>
    <a href="/login" class="text-center underline">Sign in</a>
  </form>
</div>
