<div class="h-full flex flex-col gap-8 justify-center items-center">
  <form class="h-full w-custom-input-form flex flex-col gap-4 justify-center" [formGroup]="loginForm"
        (ngSubmit)="login()">
    <h2 class="my-5 text-2xl font-bold">Login</h2>
    <app-custom-form-input [placeholder]="'mail@exemple.com'"
                           [icon]="'/icons/mail_icon.svg'"
                           [type]="'email'"
                           [inputForm]="getFormFromName('login')"
                           [hasError]="false">
    </app-custom-form-input>

    <app-custom-form-input [placeholder]="'Password'"
                           [icon]="'/icons/password_icon.svg'"
                           [type]="'password'"
                           [inputForm]="getFormFromName('password')"
                           [hasError]="false">
    </app-custom-form-input>
    <div class="flex justify-end">
      <button class="btn btn-primary" [disabled]="loginForm.invalid || loadingState()">
        @if (loadingState()) {
          <span class="loading loading-spinner loading-xs"></span>
        }
        Log
      </button>
    </div>
    <a href="/register" class="text-center underline">register</a>
  </form>
</div>
